body{
  background: url("../img/bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.body__container {

}
.section {

}
.section .inner{
  max-width: 980px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

header {
  position: relative;
}
header .inner{
  max-width: 980px;
  margin: 0 auto;
  border: 2px solid wheat;
  position: relative;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

header .inner h1{
  display: block;
  color: transparent;
  font-size: 30px;
  font-weight: 800;
   -webkit-text-stroke: 1px #131414;
}
section .inner{
  height: 500px;
  border: 2px solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section .group {
  width: 100%;
  height: 100%;
  border: 2px solid red;
  color: white;
}
#login-box{
  display: flex;
  flex-direction: column;
  width: 200px;
}
section .group1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}