.body__container {

}
.section {
  font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color:#333;
    background: #031321;
    width: 100%;
}
.section .inner{
  max-width: 980px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

header {
  position: relative;
}
header .inner{
  max-width: 980px;
  margin: 0 auto;
  border: 2px solid wheat;
  position: relative;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

header .inner h1{
  display: block;
  color: transparent;
  font-size: 30px;
  font-weight: 800;
   -webkit-text-stroke: 1px #131414;
}
section .inner{
  height: 500px;
  border: 2px solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
