@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

*,
*::before,
*::after {
  box-sizing: border-box;
  /*모든 요소가 계산되어서 보여진다.*/
  list-style: none;
}

.a11y-hidden {
  position: absolute;
  width: 1px;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0);
  height: 1px;
  overflow: hidden;
}

a {
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  background: #031321;
  font-size: 1.6rem;
  /*부모요소 10px이면 rem은 *10 16px rem단위*/
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
  color: #eee;
  margin: 0;
}

/* 멤버링크 */
.member {
  list-style: none;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 0;
  margin-right: -8px;
  ;
  font-size: 0;
  text-align: right;
}

.member li,
.member a {
  display: inline-block;
  color: #eee;
  margin-right: -1px;
}

.member span {
  color: #333;
  margin-right: -2px;
}


.member li {
  font-size: 1.4rem;

}






.body--container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;


}

.header,
.visual,
.main,
.slogan,
.footer {
  width: 940px;
  box-sizing: border-box;

}

/* header */

.header {
  display: flex;
  border: 1px solid #000000;
  padding: 0 20px;
  flex-direction: column-reverse;
  position: relative;
  border-radius: 0 0 10px 10px;
}

.header .group {
  display: flex;
  flex-direction: row;
  margin-top: -10px;
  justify-self: flex-end;
}

/*member*/


.header .member .li a {}

/*navigation*/

.header .group .navigation {
  display: flex;

  width: 100%;
  justify-content: flex-end;

}

.header .group .navigation .menu {
  display: flex;

}



/*sub-menu*/

.logo {
  position: absolute;
  top: 20px;
  left: 120px;
}

.btn-menu {
  background-color: transparent;
  position: relative;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  border: 0;
  border-left: 2px solid #272727;
  padding: 15px 20px;
  cursor: pointer;
  text-shadow: 0 1px 0 #000,
    1px 0 0 #000,
    -1px 0 0 #000,
    0 -1px 0 #000;
}

.btn-menu:hover {
  background-color: #042441;
  box-shadow: 0 0 10px #042441;
  border-bottom: 1px solid #395774;
  box-shadow: 0 0 10px #395774;
}

.header .group .navigation .menu .sub-menu {
  position: absolute;
  display: none;
}

.header .group .navigation .menu .sub-menu1.on {
  display: flex;
}

.header .group .navigation .menu .sub-menu2.on {
  display: flex;
}


/*ViSUAL*/
.visual {
  border: 1px solid #000;
  border-radius: 10px;
  min-height: 450px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
}

.visual .highlight {
  margin-bottom: 50px;  
  
  
  
}

.visual .highlight .highlight-span {
  background-color: #000;
  display: inline-flex;
  line-height: 4.2rem;
  letter-spacing: 1.25rem;
  
}

.visual .web-list {
  width: 820px;
  display: flex;
  height: 100px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.visual .web-list li {
  border-bottom: 2px solid;
  margin-bottom: 60px;
  width: 200px;
  position: relative;
  cursor: pointer;
  transition: 1s;
}
 .visual .web-list li:hover::before
 
 {
  content: "";
  display: block;
  background-image: url(../img/icon.svg);
  position: absolute;
  right: 20px;
  width: 23px;
  height: 28px;
  color: #eee;
  top: 0;
  right: 5px;
  fill: #fff;
  animation: liAnime 1s ease-in-out;
}



@keyframes liAnime {
  0%{
    transform: translate(0,0);
    opacity: 0;
  }
  0%{
    transform: translate(-50px,0);
    opacity: 1;
  }
}