@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
*,
*::before,
*::after {
  box-sizing: border-box;
  /*모든 요소가 계산되어서 보여진다.*/
  list-style: none;
}

.a11y-hidden {
  position: absolute;
  width: 1px;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0);
  height: 1px;
  overflow: hidden;
}

a {
  text-decoration: none;
}

html {
  font-size: 10px;
}

body{
  margin: 0;
  display: flex;
  justify-content: center;
}

.container {
  width: 980px;
  height: 500px;
  border: 2px solid black;
}

.header {
  display: flex;
  width: 905px;
  height: 100%;
  margin: 0 auto;
  border: 2px solid;
  justify-content: space-between;
  position: relative;
  
}

.menu-style {
  position: absolute;
  background-color: black;
}
