.body--container{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background: #031321;
    overflow: hidden;
    margin: 0;
    padding: 0;
   
}



 /*leftnav*/

nav {
     display: flex;
 }

nav .section {
    height: 100vh;
    background: #031321;
    border-right: 2px solid #153550;
}

nav .section .inner{
    margin: 0;
    width: 190px;
    height: 100%;
    display: flex;
    
}

nav .left-menu{
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
nav .left-menu li {

}
nav .left-menu li a{
    display: flex;
    padding: 20px;
    justify-content: center;
    transition: 2s;
}

nav .left-menu li a:hover {
    color: #eee;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3,
    0 0 40px #2196f3,
    0 0 80px #2196f3,
    0 0 100px #2196f3;
    border-right: 2px solid #2196f3;
}

nav .left-menu .sidemenu{
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    margin-top: 0;
    margin-bottom: 0;
}
nav .left-menu .sidemenu li{
    width: 100%;
}
nav .left-menu .sidemenu li a{
    display: flex;
    padding: 20px;
    justify-content: center;
    transition: 2s;

}

nav .left-menu .sidemenu li a:hover {
    color: #eee;
    background: #82bae9;
    box-shadow: 0 0 10px #82bae9,
    0 0 40px #82bae9,
    0 0 80px #82bae9,
    0 0 100px #82bae9;
    border-right: 2px solid #82bae9;
}

nav .left-menu .sidemenu.on{
    display: block
}


nav .left-menu .sidemenu1{
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    margin-top: 0;
    margin-bottom: 0;
}
nav .left-menu .sidemenu1 li{
    width: 100%;
}
nav .left-menu .sidemenu1 li a{
    display: flex;
    padding: 20px;
    justify-content: center;
    transition: 2s;

}

nav .left-menu .sidemenu1 li a:hover {
    color: #eee;
    background: #82bae9;
    box-shadow: 0 0 10px #82bae9,
    0 0 40px #82bae9,
    0 0 80px #82bae9,
    0 0 100px #82bae9;
    border-right: 2px solid #82bae9;
}


nav .left-menu .sidemenu1.on{
    display: block
}

nav .left-menu .sidemenu2{
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    margin-top: 0;
    margin-bottom: 0;
}
nav .left-menu .sidemenu2 li{
    width: 100%;
}
nav .left-menu .sidemenu2 li a{
    display: flex;
    padding: 20px;
    justify-content: center;
    transition: 2s;

}

nav .left-menu .sidemenu2 li a:hover {
    color: #eee;
    background: #82bae9;
    box-shadow: 0 0 10px #82bae9,
    0 0 40px #82bae9,
    0 0 80px #82bae9,
    0 0 100px #82bae9;
    border-right: 2px solid #82bae9;
}

nav .left-menu .sidemenu2.on{
    display: block
}

nav .left-menu .sidemenu3{
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    margin-top: 0;
    margin-bottom: 0;
}
nav .left-menu .sidemenu3 li{
    width: 100%;
}
nav .left-menu .sidemenu3 li a{
    display: flex;
    padding: 20px;
    justify-content: center;
    transition: 2s;

}

nav .left-menu .sidemenu3 li a:hover {
    color: #eee;
    background: #82bae9;
    box-shadow: 0 0 10px #82bae9,
    0 0 40px #82bae9,
    0 0 80px #82bae9,
    0 0 100px #82bae9;
    border-right: 2px solid #82bae9;
}

nav .left-menu .sidemenu3.on{
    display: block
}


nav .left-menu .sidemenu4{
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    margin-top: 0;
    margin-bottom: 0;
}
nav .left-menu .sidemenu4 li{
    width: 100%;
}
nav .left-menu .sidemenu4 li a{
    display: flex;
    padding: 20px;
    justify-content: center;
    transition: 2s;

}

nav .left-menu .sidemenu4 li a:hover {
    color: #eee;
    background: #82bae9;
    box-shadow: 0 0 10px #82bae9,
    0 0 40px #82bae9,
    0 0 80px #82bae9,
    0 0 100px #82bae9;
    border-right: 2px solid #82bae9;
}

nav .left-menu .sidemenu4.on{
    display: block
}


nav .left-menu .sidemenu5{
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    margin-top: 0;
    margin-bottom: 0;
}
nav .left-menu .sidemenu5 li{
    width: 100%;
}
nav .left-menu .sidemenu5 li a{
    
    display: flex;
    padding: 20px;
    justify-content: center;
    transition: 2s;

}

nav .left-menu .sidemenu5 li a:hover {
    color: #eee;
    background: #82bae9;
    box-shadow: 0 0 10px #82bae9,
    0 0 40px #82bae9,
    0 0 80px #82bae9,
    0 0 100px #82bae9;
    border-right: 2px solid #82bae9;
}
nav .left-menu .sidemenu5.on{
    display: block
}
/*leftnev*/
main {
    width: 100%;
    display: flex;
  
    justify-content: center;
    flex-direction: column;
}


 main .inner {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#sign-in-form {
    display: flex;
    flex-direction: column;
}


    

/*footer*/
footer {
    border-top: 2px solid #153550;
    
}

footer .inner {
    padding: 20px 0;
}
footer .site-links {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
    
footer .site-links li {
    margin-right: 30px;
    font-size: 12px;
}
  
footer .site-links li a {
    padding: 20px;
    box-sizing: border-box;
    color: #eee;
    text-shadow: 0 0 10px #82bae9,
    0 0 40px #82bae9,
    0 0 80px #82bae9,
    0 0 100px #82bae9;
}

    
    
