/* 모바일 기본 글자 크기 */
body {
  font-size: 1.5rem;

}




/*모바일 레이아웃*/
.appHeader, .appMain{
  width: 100%;
}

/*모바일 헤더*/
.appHeader {
  background-color: #38302e;
 
  grid-template: auto / 1fr;
}

.brand,.memberOnly,.searchForm {
  padding: 10px 20px;
}



/*모바일 브렌드*/
.brand {
 

}
.brand * {
  display: block;
}
/*모바일 멤버 링크*/

.memberOnly {
  order: -1;
  background-color: #988574;
  color: #fff;
 
 
}

/*모바일 검색 폼*/

.searchForm {
 
}
input[type="search"]{
  width: calc(100% - 45px);
  margin-right: 5px;
}
.buttonSearch {
  width: 35px;
  height: 35px;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
}
.buttonSearch::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent url('/css/images/btn_search.png') 0 0 /cover no-repeat scroll;

}
  

/*모바일 내비게이션*/
.appNavigation {
 
}
/* 모바일 메뉴 제어 버튼 */

.buttonBurger {
  width: 35px;
  height: 35px;

  position: absolute;
  top: 60px;
  right: 20px;
  overflow: hidden;
}
.burgerBar {
  background-color: #fff;
  width: 100%;
  height: 20%;
  position: absolute;
  left: 0;
  transition: all 200ms ease-in-out;
  
}
.round {
  border-radius: 20px;
}
.positionTop{
  top: 0;
  


}
.positionMiddle {

  top:50%;
  transform: translateY(-50%);
}
.positionBottom{
  top: 100%;

  transform: translateY(-100%);
}


.isAct .positionTop{
  /* animation: animeTop 2s ease-in-out; */
  top:50%;
  transform: translateY(-50%) rotate(45deg);
}
.isAct .positionMiddle {
  transform: translateY(-50%) translateX(-105%);
  /* animation: animeMiddle 2s ease-in-out; */
}
.isAct .positionBottom {
  /* animation: animeBottom 2s ease-in-out; */
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
/* @keyframes animeTop {
  0% {
    top: 0;
  }
  100% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}

@keyframes animeMiddle {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes animeBottom {
  0% {
    top: 100%;

    transform: translateY(-100%);
  }
  100% {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
} */

.menu__list {
  background-color: purple;
  position: fixed;
  top: 0;
  left: 0;
  width: 70vw;
  height: 100vh;
  transform: translateX(-100%);
}

/* 모바일 메인 콘텐츠 */
.appMain {
  background-color: lime;
  display: flex;
  flex-flow: row wrap;
  padding: 0 20px;
}

.book,.news,.board,.favoite,.twitter{
  width: 100%;
  height: 10vh;
}


/* 모바일 푸터 */

.appFooter {
  background-color: orange;
}