body {
  position: relative;
}
.container{
  max-width: 950px;
}
.header {
  
}
.navigation {
  width: 100%;
  display: block;
  border: 2px solid;
  padding: 0 30px;

}

.navigation h1 img {
  display: block;

 
}

.nav-menu {
  display: block;
  border: 1px solid;
  margin: 0 auto;
  padding:0;
  
}

.nav-menu li {
  border-right: none;
  
  
  padding: 0;
  margin: 0;
  text-align: center;
}
.nav-menu a{
  display: block;
  margin: 0;

  
  padding: 10px 20px;
  border-bottom: 1px solid rgb(228, 224, 240);
}
.nav-menu a:hover {
  background: #009afe;
  box-shadow: 0 0 1px #009afe;
}

.search {
  display: block;

  
}
#search-text {
  width: 100%;
}
.btn-search {
  display: block;
  width: 100%;
}


#toggle-btn{
  display: block;
}

.toggle {
  display: none;
}

.toggle.on {
  display: block;
}

.main {

}
.img {
  padding: 0;
  margin: 0 30px;

}




.sump-list li{
  display: block;
  width: 50%;
  height: 300px;
  
}


.shop-menu li{
  width: 50%;
}