@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

*,
*::before,
*::after {
  box-sizing: border-box;
  /*모든 요소가 계산되어서 보여진다.*/
  list-style: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.a11y-hidden {
  position: absolute;
  width: 1px;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0);
  height: 1px;
  overflow: hidden;
}

a {
  text-decoration: none;
}

html {
  font-size: 10px;
  
}

body {
  
  background: #009afe url('../img/top_bg.png') top center no-repeat;
  font-size: 1.6rem;
  /*부모요소 10px이면 rem은 *10 16px rem단위*/
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
  color: #eee;
  margin: 0;
  display: flex;
  justify-content: center;
 
  margin: 0 auto; 
}
.header,
.navigation,
.main,
.main-shop
  {
  max-width: 1500px;
}

.body--container{


}

.header {


  height: 20px;
  font-size: 12px;

  color: rgb(102,102,102);
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.venner-group {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.index_menu {
  display: inline-block;
  font-size: 0;
}
.index_menu span {
  
  font-size: 1.2rem;
}
.index_menu li {
  display: inline-block;
  font-size: 1.2rem;
}
.index_menu a{
  padding: 0 2px 0 2px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  
}

.nav-menu {
  display: flex;
}
.nav-menu li {
  border-right: 1px solid #aaa;
}
.nav-menu li:last-child{
  border-right: none;
}

.nav-menu a {
  padding: 20px;
  color: rgb(88, 82, 82);
  
  
}
.nav-menu a:hover {
  color: rgb(47, 47, 221);
  
}
.search {
  display: flex;
  align-items: center;
}

#search-text {
  width: 230px;
  height: 35px;
  border: 0;
  padding: 0;
  margin: 0;

  border-radius: 15px;
  margin-left: 12px;
  border: 1px solid #aaa;
  box-shadow: 1px 1px 2px #aaa;
  padding: 5px 10px;
}

#search-text::-webkit-input-placeholder {
  color: #aaa;
}

#search-text::-o-input-placeholder {
  color: #aaa;
}


#search-text::-moz-input-placeholder {
  color: #aaa;
}

.btn-search {
  cursor: pointer;
 margin: 0;
 padding: 0;
  width: 35px;
  height: 35px;
  background: url("../img/search-icon.png") center no-repeat;
  border: 0;
  transition: 1s;
}

.btn-search:hover {
  border-radius: 15px;
  background: #009afe  url("../img/search-icon.png") center no-repeat;
  box-shadow: 0 0 10px #009afe;
}

#toggle-btn{
  display: none;
  background: url("../img/toggle-btn.svg");
  width: 18px;
  height: 24px;
  position: absolute;
  top: 16px;
  right: -30px;
  cursor: pointer;
  text-indent: -9999px;
}


.main {

}

.img {
  width: 100%;
  margin-top: 10px;
  height: 352px;
  animation: anime 3s ease-in-out infinite alternate;
 

}



@keyframes anime {
  0%{
    background-color: #009afe;
    background-image: url('../img/mainImg1.png');
    background-repeat: no-repeat;
    box-shadow: 0 0 10px #009afe;
    padding: 10px;
  }
  100% {
  
    background-image: url('../img/mainImg2.png');
    background-repeat: no-repeat;
    box-shadow: 0 0 10px #101c24;
    box-shadow: 0 0 10px #009afe;
    padding: 10px;
  }
}

/*sump*/
.main {

}
.heading-name {
  width: 260px;
  border: 2px solid;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 5px 15px 5px 5px;
  font-weight: 400;
}

.sump-list {
  border: 1px solid;
  
  padding: 0;
  display: flex;
}

.sump-list li{
 
 border: 3px solid;
 width: 100%;
 
}

.sump-list li:nth-child(1) a{
  display: block;
  
  height: 135px;
  background-color: #009afe;
  background-repeat: no-repeat;
  background-image: url('../img/hot_icon1.png');
}
.sump-list li:nth-child(2) a{
  display: block;
  
  height: 135px;
  background-color: #009afe;
  background-repeat: no-repeat;
  background-image: url('../img/hot_icon2.png');
}
.sump-list li:nth-child(3) a{
  display: block;

  height: 135px;
  background-color: #009afe;
  background-repeat: no-repeat;
  background-image: url('../img/hot_icon3.png');
}
.sump-list li:nth-child(4) a{
  display: block;

  height: 135px;
  background-color: #009afe;
  background-repeat: no-repeat;
  background-image: url('../img/hot_icon4.png');
}
.sump-list li:nth-child(5) a{
  display: block;

  height: 135px;
  background-color: #009afe;
  background-repeat: no-repeat;
  background-image: url('../img/hot_icon5.png');
}


/* main-shop */

.main-shop {

}

.main-shop .heading-name {
  font-size: 3rem;
}

.shop-menu {
  margin-top: 30px;
  position: relative;
  padding: 0;
  font-size: 0;
  
  
}
.shop-menu li {
  display: inline-block;
}

.btn{
  display: inline-block;
  border: none;
  font-size: 0;
  font-size: 1.4rem;
  border-right: 1px solid #aaa;
  background: rgb(49, 49, 49);
  color: #eee;
  padding: 10px 35px;
  cursor: pointer;
}
.btn:hover {
  background: rgba(0,0,0,.8);
}
.shop-menu li:nth-child(2) .btn{
  padding-right: 50px;
  padding-left: 50px;
  box-sizing: border-box;
} 
.shop-menu li:last-child .btn {
  border-right: none;
}

.sub-menu {
  display: block;
  background: rgba(0,0,0,.75);
  position: absolute;
  color: #eee;
  padding: 0;
  font-size: 1.4rem;
  top: 35px;

}
.sub-menu li:hover {
  background: rgba(0,0,0,.3);
}

.sub-menu li {
  
}

.sub-menu::after {
  content: "";
  display: block;
  width: 100%;
  
  
}

.sub-menu li {
  display: block;
  padding-right: 17px;
  color: #aaa;
}
.sub-menu li a{
  color: #aaa;
}
.sub-menu1{
  display: none;
}
.sub-menu2{
  display: none;
}
.sub-menu3{
  display: none;
}
.sub-menu4 {
  padding-right: 43px;
  display: none;
}
.sub-menu5{
  padding-right: 24px;
  display: none;
}
.sub-menu6{
  padding-right: 31px;
  display: none;
}
.sub-menu7{
  padding-right: 14px;
  display: none;
}
.sub-menu8 {
  padding-right: 49px;
  display: none;
}
.main-shop iframe {
  width: 100%;
  height: 450px;
}