@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

*,
*::before,
*::after {
  box-sizing: border-box;
  /*모든 요소가 계산되어서 보여진다.*/
}

a {
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  background: #031321;
  font-size: 1.6rem;
  /*부모요소 10px이면 rem은 *10 16px rem단위*/
  font-family: 'Spoqa Han Sans';
  color: #181818;
  font-weight: 400;
  color: #eee;
}


.body--container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  
}

.header, .visual,.main,.slogan,.footer{
  width: 940px;
  box-sizing: border-box;

}
.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


.header .logo {

}
.header .logo a{
  padding: 40px;
  display: flex;
}
.header .menu-group {
  display: flex;
  flex-flow: column nowrap;
  width: 780px;
 
  justify-content: space-around;
  align-items: flex-end;

}

.header .menu-group::before{


}

.header .menu-group .member {
  display: flex;
  margin-right: 40px;

}

.header .menu-group .member li{
  margin-right: 10px;
  
}
.header .menu-group .member li span {
  font-size: 12px;
}

.header .menu-group .member li a{
  font-size: 12px;
  text-transform: uppercase;
  color: #eee;
}

.header .menu-group .main-menu {
  display: flex;
  align-self: center; 
  margin-bottom: 20px;
  
}
.header .menu-group .main-menu li {
  margin-top:20px;
  
}

.header .menu-group .main-menu li a{
  padding: 10px 30px;
  
  text-transform: uppercase;
  background: transparent;
  line-height: 1.5;
  letter-spacing: 2px;
  position: relative;
  color: #eee;
}


.header .menu-group .main-menu li a:hover{
  border-radius: 5px;
 
  color: #eee;
  transition: 2s;
  border-bottom: 1px solid #eee;
  background: #2196f3;
  box-shadow: 0 0 20px #2196f3,
              0 0 40px #2196f3,
              0 0 80px #2196f3;

}

.header .menu-group .main-menu ul {
  display: flex;
  
  
}
.header .menu-group .main-menu ul li a{

  padding:5px;
  border: 2px solid;
}



.main{
  min-height: 450px;
  display: flex;
  padding: 30px;
  justify-content: space-between;
}

.main .group1 {
  background-color: pink;
  width: 250px;
}

.main .group2 {
  background-color: lightgreen;

  width: 380px;

}

.main .group3 {
  background-color: coral;

  width: 190px;
}

